NODERED_Twitter&Commandingflow.json
[{"id":"c49b4899.ad6d78","type":"mqtt in","z":"6369c706.97fd08","name":"","topic":"smartFarming/farmer","qos":"2","broker":"b499ea3b.dfc2c8","x":130,"y":100,"wires":[["b5e22332.2cf48","63daad57.f37b84"]]},{"id":"b5e22332.2cf48","type":"function","z":"6369c706.97fd08","name":"Commanding","func":"var commandingData = {};\n\nvar newMsg = {};\nnewMsg.payload = {};\nvar values;\nvar timeStamp;\n// -----Buzzer----\n// 0: Activate de Buzzer\n// 1: Deactivate de Buzzer\n\ncommandingData.timeStamp = new Date().toISOString();\n\nif (msg.payload) {\n\tvalues = msg.payload.split(\"&\");\n\tif (values) {\n\t\tfor (var index in values) {\n\t\t\tlet value = values[index];\n\t\t\tlet val = value.split(\"=\");\n\t\t\tif (val.length == 2) {\n\t\t\t\tswitch (val[0]) {\n\t\t\tcase 'activateBuzzer':\n                commandingData.buzzerActive = parseInt(val[1]);            \n                commandingData.tranquilizerActive = 0;\n                break;\n            case 'activateTranquilizer':\n                commandingData.buzzerActive = 0;\n                commandingData.tranquilizerActive = parseInt(val[1]);\n                break;\n            case 'name':\n                commandingData.name = val[1];\n                break;\n            case 'animalID':\n                commandingData.animalID = val[1];\n                break;\n\t\t\t\t}\n\t\t\t}\n\n\t\t}\n\t}\n}\n/*\nif (msg.payload){\n    // spit the values by '='\n    values = msg.payload.split(\"=\");\n        switch (values[0]){\n            case 'activateBuzzer':\n                commandingData.buzzerActive = parseInt(values[1]);            \n                commandingData.tranquilizerActive = 0;\n                break;\n            case 'activateTranquilizer':\n                commandingData.buzzerActive = 0;\n                commandingData.tranquilizerActive = parseInt(values[1]);\n                break;\n        }\n}*/\nnewMsg.payload = commandingData;\nnewMsg.ontology = 'CommandingFarmer2';\nreturn (newMsg);\n","outputs":1,"noerr":0,"x":330,"y":100,"wires":[["9398ad2d.de36d","c1ce043b.ac8d58","9025b7d6.e9c558"]]},{"id":"63daad57.f37b84","type":"debug","z":"6369c706.97fd08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":360,"y":180,"wires":[]},{"id":"9398ad2d.de36d","type":"debug","z":"6369c706.97fd08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":540,"y":160,"wires":[]},{"id":"c1ce043b.ac8d58","type":"mqtt out","z":"6369c706.97fd08","name":"","topic":"smartFarming/commanding","qos":"","retain":"","broker":"b499ea3b.dfc2c8","x":630,"y":80,"wires":[]},{"id":"9025b7d6.e9c558","type":"onesaitplatform-insert","z":"6369c706.97fd08","name":"InsertCommand","ontology":"commandingFarmer2","authentication":"SmF2aWVyTGFuZGFldGE6dktWOXJ2R3g2V1pGbjkvV3BwNnQxY2VuTGVyR1g1WFNvVjZuNWl1WTNKYz0=","x":480,"y":20,"wires":[[]]},{"id":"c9ba1d7.37de5e","type":"twitter in","z":"6369c706.97fd08","twitter":"","tags":"@OsFarming","user":"false","name":"","inputs":1,"x":90,"y":280,"wires":[["9dcac9ff.bbea58","4fe6d891.a63778"]]},{"id":"9dcac9ff.bbea58","type":"function","z":"6369c706.97fd08","name":"process twitter data","func":"\nvar ConsultingTweets = {};\nvar newMsg = {};\n\nConsultingTweets.vaca = msg.tweet.entities.hashtags[0].text;\nConsultingTweets.usuario = msg.tweet.user.screen_name;\nConsultingTweets.nameID = msg.tweet.id_str\n\nnewMsg.payload = ConsultingTweets;\nreturn newMsg;","outputs":1,"noerr":0,"x":310,"y":300,"wires":[["5cce27e6.245d18","45f6da69.bfe724","d80c83a4.82f4f"]]},{"id":"5cce27e6.245d18","type":"debug","z":"6369c706.97fd08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":420,"wires":[]},{"id":"4fe6d891.a63778","type":"debug","z":"6369c706.97fd08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":300,"y":420,"wires":[]},{"id":"45f6da69.bfe724","type":"function","z":"6369c706.97fd08","name":"Selection","func":"var queryData = {};\nvar newQuery = {};\nnewQuery.payload = {};\n\nswitch (msg.payload.vaca) {\n\tcase 'Lucia':\n\t\tnewQuery.payload = queryData;\n\t    return [newQuery, null, null, null];\n\n\tcase 'JULIA':\n\t\tnewQuery.payload = queryData;\n\t\treturn [null, newQuery, null, null];\n\t\n\tcase 'PACA':\n\t\tnewQuery.payload = queryData;\n\t\treturn [null, null, newQuery, null];\n\t\n\tcase 'BACA':\n\t\tnewQuery.payload = queryData;\n\t\treturn [null, null, null, newQuery];\n}","outputs":4,"noerr":0,"x":590,"y":360,"wires":[["e1a9d44f.be2a48"],["b92feff2.fa5ab"],["bc77121f.62166"],["ee24b7f7.4cb418"]]},{"id":"ee24b7f7.4cb418","type":"onesaitplatform-query-static","z":"6369c706.97fd08","name":"Query BACA","ontology":"AnimalMeasures_jll","targetDB":"","queryType":"sql","query":"select steps, bodyTemp, weight from AnimalMeasures_jll  as c where c.name = \"BACA\" order by timeStamp DESC limit 1 ","authentication":"SmF2aWVyTGFuZGFldGE6dktWOXJ2R3g2V1pGbjkvV3BwNnQxY2VuTGVyR1g1WFNvVjZuNWl1WTNKYz0=","x":770,"y":420,"wires":[["ba02211e.3c7b4","4b9edca2.5ea2d4"]]},{"id":"e1a9d44f.be2a48","type":"onesaitplatform-query-static","z":"6369c706.97fd08","name":"Query Lucia","ontology":"AnimalMeasures_jll","targetDB":"","queryType":"sql","query":"select steps, bodyTemp, weight from AnimalMeasures_jll  as c where c.name = \"Lucia\" order by timeStamp DESC limit 1 ","authentication":"SmF2aWVyTGFuZGFldGE6dktWOXJ2R3g2V1pGbjkvV3BwNnQxY2VuTGVyR1g1WFNvVjZuNWl1WTNKYz0=","x":790,"y":300,"wires":[["fa38c8c5.105e48"]]},{"id":"b92feff2.fa5ab","type":"onesaitplatform-query-static","z":"6369c706.97fd08","name":"Query JULIA","ontology":"AnimalMeasures_jll","targetDB":"","queryType":"sql","query":"select steps, bodyTemp, weight from AnimalMeasures_jll  as c where c.name = \"JULIA\" order by timeStamp DESC limit 1 ","authentication":"SmF2aWVyTGFuZGFldGE6dktWOXJ2R3g2V1pGbjkvV3BwNnQxY2VuTGVyR1g1WFNvVjZuNWl1WTNKYz0=","x":790,"y":340,"wires":[["fe5342ad.97f1f"]]},{"id":"bc77121f.62166","type":"onesaitplatform-query-static","z":"6369c706.97fd08","name":"Query PACA","ontology":"AnimalMeasures_jll","targetDB":"","queryType":"sql","query":"select steps, bodyTemp, weight from AnimalMeasures_jll  as c where c.name = \"PACA\" order by timeStamp DESC limit 1 ","authentication":"SmF2aWVyTGFuZGFldGE6dktWOXJ2R3g2V1pGbjkvV3BwNnQxY2VuTGVyR1g1WFNvVjZuNWl1WTNKYz0=","x":790,"y":380,"wires":[["4a883e5f.f78bb"]]},{"id":"d80c83a4.82f4f","type":"join","z":"6369c706.97fd08","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"&","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1270,"y":200,"wires":[["76fdc8b7.d89658","bd88bfac.7d0ac"]]},{"id":"76fdc8b7.d89658","type":"debug","z":"6369c706.97fd08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1410,"y":140,"wires":[]},{"id":"ba02211e.3c7b4","type":"debug","z":"6369c706.97fd08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":960,"y":460,"wires":[]},{"id":"4b9edca2.5ea2d4","type":"json","z":"6369c706.97fd08","name":"","property":"payload","action":"obj","pretty":false,"x":930,"y":420,"wires":[["a93c4a84.43a368"]]},{"id":"a93c4a84.43a368","type":"function","z":"6369c706.97fd08","name":"Select the Objecy Quered","func":"var newMsg = {}\nnewMsg.payload = msg.payload[0]\nreturn newMsg;","outputs":1,"noerr":0,"x":1110,"y":420,"wires":[["d80c83a4.82f4f"]]},{"id":"bd88bfac.7d0ac","type":"function","z":"6369c706.97fd08","name":"ConfigureTweetToSend","func":"var nameID = msg.payload.nameID\nvar name = msg.payload.usuario\nvar animal = msg.payload.vaca\nvar reply = \"@\"+name + \" For the animal \" + msg.payload.vaca + \" \\n- Steps: \" + msg.payload.steps + \"\\n- Body Temperature: \" + msg.payload.bodyTemp + \"\\n- Weigth: \" + msg.payload.weight\nvar params = {\n    status: reply,\n    in_reply_to_status_id: nameID\n}\nmsg.params=params\nmsg.payload=reply\nreturn msg;","outputs":1,"noerr":0,"x":1450,"y":240,"wires":[["3dacd09a.8a0fd","8740e2d7.23ea6"]]},{"id":"3dacd09a.8a0fd","type":"twitter out","z":"6369c706.97fd08","twitter":"","name":"Tweet","x":1630,"y":180,"wires":[]},{"id":"8740e2d7.23ea6","type":"debug","z":"6369c706.97fd08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1650,"y":280,"wires":[]},{"id":"4a883e5f.f78bb","type":"json","z":"6369c706.97fd08","name":"","property":"payload","action":"obj","pretty":false,"x":930,"y":380,"wires":[["50243f9a.94451"]]},{"id":"fe5342ad.97f1f","type":"json","z":"6369c706.97fd08","name":"","property":"payload","action":"obj","pretty":false,"x":930,"y":340,"wires":[["7bfe8abf.449fb4"]]},{"id":"fa38c8c5.105e48","type":"json","z":"6369c706.97fd08","name":"","property":"payload","action":"obj","pretty":false,"x":930,"y":300,"wires":[["e17e8422.6b1018"]]},{"id":"50243f9a.94451","type":"function","z":"6369c706.97fd08","name":"Select the Objecy Quered","func":"var newMsg = {}\nnewMsg.payload = msg.payload[0]\nreturn newMsg;","outputs":1,"noerr":0,"x":1110,"y":380,"wires":[["d80c83a4.82f4f"]]},{"id":"7bfe8abf.449fb4","type":"function","z":"6369c706.97fd08","name":"Select the Objecy Quered","func":"var newMsg = {}\nnewMsg.payload = msg.payload[0]\nreturn newMsg;","outputs":1,"noerr":0,"x":1110,"y":340,"wires":[["d80c83a4.82f4f"]]},{"id":"e17e8422.6b1018","type":"function","z":"6369c706.97fd08","name":"Select the Objecy Quered","func":"var newMsg = {}\nnewMsg.payload = msg.payload[0]\nreturn newMsg;","outputs":1,"noerr":0,"x":1110,"y":300,"wires":[["d80c83a4.82f4f"]]},{"id":"b499ea3b.dfc2c8","type":"mqtt-broker","z":"","name":"","broker":"138.100.48.251","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]