onesit_flow_json.json
[{"id":"3bc7d979.1b2bc6","type":"tab","label":"Smart Farming","disabled":false,"info":""},{"id":"ece190f3.3650c","type":"mqtt in","z":"3bc7d979.1b2bc6","name":"","topic":"smartFarming/animal","qos":"2","broker":"398f219c.92017e","x":220,"y":100,"wires":[["a3f4abdb.19e808","7a0dcdc.d127b34"]]},{"id":"a3f4abdb.19e808","type":"function","z":"3bc7d979.1b2bc6","name":"Transformation","func":"var sensorData = {};\nvar sensorAlert = {};\nvar newMsg = {};\nnewMsg.payload = {};\nvar newMsg2 = {};\nnewMsg2.payload = {};\n\nvar values;\nvar alertTemp = false;\nvar alertSteps = false;\nvar alertWeight = false;\n\nsensorData.timeStamp = new Date().toISOString();\nsensorAlert.timeStamp = new Date().toISOString();\n\nif (msg.payload) {\n\tvalues = msg.payload.split(\"&\");\n\tif (values) {\n\t\tfor (var index in values) {\n\t\t\tlet value = values[index];\n\t\t\tlet val = value.split(\"=\");\n\t\t\tif (val.length == 2) {\n\t\t\t\tswitch (val[0]) {\n\t\t\t\t\tcase 'field1':\n\t\t\t\t\t\tsensorData.animalID = val[1];\n\t\t\t\t\t\tsensorAlert.animalID = val[1];\n\t\t\t\t\t\tbreak;\n\t\t\t\t\tcase 'field2':\n\t\t\t\t\t\tsensorData.name = val[1];\n\t\t\t\t\t\tsensorAlert.name = val[1];\n\t\t\t\t\t\tbreak;\n\t\t\t\t\tcase 'field3':\n\t\t\t\t\t\tsensorData.type = val[1];\n\t\t\t\t\t\tsensorAlert.type = val[1];\n\t\t\t\t\t\tbreak;\n\t\t\t\t\tcase 'field4':\n\t\t\t\t\t\tsensorData.age = Number(val[1]);\n\t\t\t\t\t\tbreak;\n\t\t\t\t\tcase 'field5':\n\t\t\t\t\t\tsensorData.animalLatitude = Number(val[1]);\n\t\t\t\t\t\tbreak;\n\t\t\t\t\tcase 'field6':\n\t\t\t\t\t\tsensorData.animalLongitude = Number(val[1]);\n\t\t\t\t\t\tbreak;\n\t\t\t\t\tcase 'field7':\n\t\t\t\t\t\tsensorData.bodyTemp = Number(val[1]);\n\t\t\t\t\t\tbreak;\n\t\t\t\t\tcase 'field8':\n\t\t\t\t\t\tsensorData.steps = Number(val[1]);\n\t\t\t\t\t\tbreak;\n\t\t\t\t\tcase 'field9':\n\t\t\t\t\t\tsensorData.weight = Number(val[1]);\n\t\t\t\t\t\tbreak;\n\t\t\t\t\tcase 'field10':\n\t\t\t\t\t    sensorAlert.tempAlert = Number(val[1]);\n\t\t\t\t\t    switch(val[1]){\n\t\t\t\t\t        case '0':\n\t\t\t\t\t            break;\n\t\t\t\t\t        case '1':\n\t\t\t\t\t            alertTemp = true;\n\t\t\t\t\t            break;\n\t\t\t\t\t    }\n\t\t\t\t\t\tbreak;\n\t\t\t\t\tcase 'field11':\n\t\t\t\t\t\tsensorAlert.stepsAlert = Number(val[1]);\n\t\t\t\t\t\tswitch(val[1]){\n\t\t\t\t\t        case '0':\n\t\t\t\t\t            break;\n\t\t\t\t\t        case '1':\n\t\t\t\t\t            alertSteps = true;\n\t\t\t\t\t            break;\n\t\t\t\t\t    }\n\t\t\t\t\t\tbreak;\n\t\t\t\t\tcase 'field12':\n\t\t\t\t\t\tsensorAlert.weightAlert = Number(val[1]);\n\t\t\t\t\t\tswitch(val[1]){\n\t\t\t\t\t        case '0':\n\t\t\t\t\t            break;\n\t\t\t\t\t        case '1':\n\t\t\t\t\t            alertWeight = true;\n\t\t\t\t\t            break;\n\t\t\t\t\t    }\n\t\t\t\t\t\tbreak;\n\t\t\t\t}\n\t\t\t}\n\n\t\t}\n\t}\n}\nif(!alertTemp && !alertSteps && !alertWeight){\n    newMsg2.payload = sensorData;\n    newMsg2.ontology = 'AnimalMeasures_jll';\n    //Output 1\n\treturn [newMsg2, null];\n\t\n}else{\n    newMsg2.payload = sensorData;\n    newMsg2.ontology = 'AnimalMeasures_jll';\n    newMsg.payload = sensorAlert;\n    newMsg.ontology = 'AnimalMeasures_jll_alerts';\n    alertTemp = false;\n    alertSteps = false;\n    alertWeight = false;\n\t//Output 2\n\treturn [newMsg2, newMsg];\n\n}","outputs":2,"noerr":0,"x":420,"y":100,"wires":[["c0aeca14.317228","e9bce3b8.8a7a9"],["2d2db166.87a99e","dbbe6f39.4c605"]]},{"id":"c0aeca14.317228","type":"debug","z":"3bc7d979.1b2bc6","name":"Measurement received","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":630,"y":40,"wires":[]},{"id":"174e8e0a.9b7512","type":"debug","z":"3bc7d979.1b2bc6","name":"Inserted Data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":920,"y":100,"wires":[]},{"id":"e34ea7b.2534858","type":"debug","z":"3bc7d979.1b2bc6","name":"Inserted Alert","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":870,"y":160,"wires":[]},{"id":"2d2db166.87a99e","type":"debug","z":"3bc7d979.1b2bc6","name":"Alert received","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":620,"y":220,"wires":[]},{"id":"7a0dcdc.d127b34","type":"debug","z":"3bc7d979.1b2bc6","name":"MQTT msg received","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":320,"y":220,"wires":[]},{"id":"e9bce3b8.8a7a9","type":"onesaitplatform-insert","z":"3bc7d979.1b2bc6","name":"INSERT Measurement Data","ontology":"AnimalMeasures_jll","authentication":"YXJvbmh1dTp4Vk1STkNNM21xdkJmaG9leElSZzJ6MUYxdVRkUk5iRmV4ZjcyUGNOMENVPQ==","x":680,"y":100,"wires":[["174e8e0a.9b7512"]]},{"id":"dbbe6f39.4c605","type":"onesaitplatform-insert","z":"3bc7d979.1b2bc6","name":"INSERT Alert","ontology":"AnimalMeasures_jll_alerts","authentication":"YXJvbmh1dTp4Vk1STkNNM21xdkJmaG9leElSZzJ6MUYxdVRkUk5iRmV4ZjcyUGNOMENVPQ==","x":620,"y":160,"wires":[["e34ea7b.2534858"]]},{"id":"661ab415.894a6c","type":"onesaitplatform-notification-endpoint","z":"3bc7d979.1b2bc6","name":"NOTIFY Measure INSERTION","url":"/measure","method":"post","ontology":"AnimalMeasures_jll","operationType":"INSERT","x":260,"y":440,"wires":[["4c96937b.87fd8c","bf408a50.96a558"]]},{"id":"4c96937b.87fd8c","type":"debug","z":"3bc7d979.1b2bc6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":310,"y":500,"wires":[]},{"id":"bf408a50.96a558","type":"function","z":"3bc7d979.1b2bc6","name":"Extract_data","func":"var node_data = msg.payload.notificationModel.operationModel.body;\nvar newMsg = {payload:node_data};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":530,"y":440,"wires":[["5d34dc.5ca2ab24","daf28ac9.e27f48"]]},{"id":"5d34dc.5ca2ab24","type":"json","z":"3bc7d979.1b2bc6","name":"Data2JSON","property":"payload","action":"obj","pretty":false,"x":230,"y":660,"wires":[["3bfa440e.e9b5cc","e36f1ab4.37beb8","3e2dc7b1.b0f388"]]},{"id":"e36f1ab4.37beb8","type":"function","z":"3bc7d979.1b2bc6","name":"Health_evaluator","func":"var data = msg.payload;\n\nvar healthData={};\n\nvar animalID = data.animalID;\nvar name = data.name;\nvar type = data.type;\nvar age = data.age;\nvar bodyTemp = data.bodyTemp;\nvar steps = data.steps;\nvar weight = data.weight;\nvar score=0;\n\nvar string = \"animal: \"+name +\",Body Temp:\" +bodyTemp+\",Age:\"+age+ \",Steps:\"+steps +\",Weight:\" + weight +\" \";\n\nif(weight>=0)\n    score+=Math.round(33/Math.abs(weight/age-20));\n    string+=score+\",\";\n    \nif(bodyTemp>=0)\n    score+=Math.round(33/Math.abs(bodyTemp-38.5));  \n    string+=score+\",\";\n    \nif(steps>=0)\n    score+=Math.round(33/Math.abs((steps-12000)/1000));\n    string+=score+\",\";\n    \nif(score>=100) \n    score=100;\nstring+=\"Final:\"+score;\n\n\nvar newMsg = {};\nnewMsg.payload = {};\n\n//healthData.timeStamp = new Date().toISOString();\n//healthData.animalID = data.animalID;\n//healthData.name = data.name;\n//healthData.score = Number(score);\n\nnewMsg.payload.timeStamp = new Date().toISOString();\nnewMsg.payload.animalID = data.animalID;\nnewMsg.payload.name = data.name;\nnewMsg.payload.score = Number(score);\n\n//var newMsg = {payload:string};\n//var newMsg = {payload:healthData};\nreturn newMsg;","outputs":1,"noerr":0,"x":510,"y":680,"wires":[["14d808a6.0008e7","aae49ae3.cb76f8"]]},{"id":"14d808a6.0008e7","type":"debug","z":"3bc7d979.1b2bc6","name":"health evaluator","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":520,"y":760,"wires":[]},{"id":"3bfa440e.e9b5cc","type":"debug","z":"3bc7d979.1b2bc6","name":"JSON msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":250,"y":740,"wires":[]},{"id":"3e2dc7b1.b0f388","type":"function","z":"3bc7d979.1b2bc6","name":"Geolocation_Evaluation","func":"var data = msg.payload;\n\nvar geoData={};\n\nvar animalLongitude = data.animalLongitude;\nvar animalLatitude = data.animalLatitude;\n\nvar centerLat = 40.413852;\nvar centerLong = -3.627799;\n\nvar a = Math.pow(animalLatitude-centerLat, 2);\nvar b = Math.pow(animalLongitude-centerLong, 2);\n\nvar distance = Math.sqrt(a+b)*100000;\ngeoData.timeStamp = new Date().toISOString();\ngeoData.animalID = data.animalID;\ngeoData.name = data.name;\n\n//fence radius of 500 meters\nif(distance > 500){\n    geoData.geoAlert = 1;\n    geoData.distance = Number(distance.toFixed(2));\n    //string = distance + \"WARNING!!Cow Out of Bounds\";     \n}\nelse if (distance < 500){\n    geoData.geoAlert = 0;\n    geoData.distance = Number(distance.toFixed(2));\n    //string = distance + \"Cow inside Bounds\";    \n}\n\nvar newMsg = {payload:geoData};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":530,"y":580,"wires":[["e29d793d.94f2a8","c26c9e53.2fdb1"]]},{"id":"e29d793d.94f2a8","type":"debug","z":"3bc7d979.1b2bc6","name":"geofencing data","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":720,"y":500,"wires":[]},{"id":"c26c9e53.2fdb1","type":"onesaitplatform-insert","z":"3bc7d979.1b2bc6","name":"GeoFencingAlert Insert","ontology":"AnimalMeasures_jll_GeoWeatheralerts","authentication":"UGFibGVuczo3SEZSZ3dIYkJ5V0dBbGdSeG5qL1Q4VkRYV3hyZnNkcVhRclc0dkxCS29NPQ==","x":790,"y":580,"wires":[["9012aac.0003658"]]},{"id":"9012aac.0003658","type":"debug","z":"3bc7d979.1b2bc6","name":"inserted geofencing","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":970,"y":520,"wires":[]},{"id":"daf28ac9.e27f48","type":"debug","z":"3bc7d979.1b2bc6","name":"data from ontology","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":610,"y":360,"wires":[]},{"id":"aae49ae3.cb76f8","type":"onesaitplatform-insert","z":"3bc7d979.1b2bc6","name":"AnimalHealth Insert","ontology":"AnimalHealth_ah","authentication":"UGFibGVuczo3SEZSZ3dIYkJ5V0dBbGdSeG5qL1Q4VkRYV3hyZnNkcVhRclc0dkxCS29NPQ==","x":730,"y":680,"wires":[["5d57314e.56231"]]},{"id":"5d57314e.56231","type":"debug","z":"3bc7d979.1b2bc6","name":"inserted health","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":800,"y":760,"wires":[]},{"id":"5720207b.ac86b","type":"debug","z":"3bc7d979.1b2bc6","name":"weather payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":760,"y":920,"wires":[]},{"id":"e25ae6fe.0a9078","type":"http request","z":"3bc7d979.1b2bc6","name":"Tiempo","method":"GET","ret":"txt","url":"http://www.aemet.es/xml/municipios/localidad_28079.xml","tls":"","x":530,"y":980,"wires":[["ba57180d.7f76b8"]]},{"id":"a38a494d.9d4a08","type":"inject","z":"3bc7d979.1b2bc6","name":"Weather_Ask","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 06 * * *","once":false,"onceDelay":0.1,"x":300,"y":980,"wires":[["e25ae6fe.0a9078"]]},{"id":"ba57180d.7f76b8","type":"xml","z":"3bc7d979.1b2bc6","name":"XMLtoJS","property":"payload","attr":"","chr":"","x":720,"y":980,"wires":[["5720207b.ac86b","ad23854.a0e8978"]]},{"id":"ad23854.a0e8978","type":"function","z":"3bc7d979.1b2bc6","name":"Weather_Info","func":"\nvar data = msg.payload;\n\nvar newMsg = {};\nnewMsg.payload = {};\n\nnewMsg.payload.timeStamp = new Date().toISOString();\nnewMsg.payload.ciudad = data.root.nombre[0];\nnewMsg.payload.tMaxToday = Number(data.root.prediccion[0].dia[0]['temperatura'][0].maxima[0]);\nnewMsg.payload.tMinToday = Number(data.root.prediccion[0].dia[0]['temperatura'][0].minima[0]);\nif(data.root.prediccion[0].dia[0]['prob_precipitacion'][1]._ >= 0)\n    newMsg.payload.probPrecTodayTill12 = Number(data.root.prediccion[0].dia[0]['prob_precipitacion'][1]._);\n    else\n    newMsg.payload.probPrecTodayTill12 = 0;\nif(data.root.prediccion[0].dia[0]['prob_precipitacion'][2]._ >= 0)\n    newMsg.payload.probPrecTodayTill24 = Number(data.root.prediccion[0].dia[0]['prob_precipitacion'][2]._);\nif(data.root.prediccion[0].dia[0]['estado_cielo'][1]._ >= 0)\n    newMsg.payload.skyStateTodayTill12 = data.root.prediccion[0].dia[0]['estado_cielo'][1].$.descripcion;\n    else\n    newMsg.payload.skyStateTodayTill12 = \"checked\";\nif(data.root.prediccion[0].dia[0]['estado_cielo'][2]._ >= 0)\n    newMsg.payload.skyStateTodayTill24 = data.root.prediccion[0].dia[0]['estado_cielo'][2].$.descripcion;\nnewMsg.payload.tMaxTomorrow = Number(data.root.prediccion[0].dia[1]['temperatura'][0].maxima[0]);\nnewMsg.payload.tMinTomorrow = Number(data.root.prediccion[0].dia[1]['temperatura'][0].minima[0]);\nif(data.root.prediccion[0].dia[1]['prob_precipitacion'][1]._ >= 0)\n    newMsg.payload.probPrecTomorrowTill12 = Number(data.root.prediccion[0].dia[1]['prob_precipitacion'][1]._);\nif(data.root.prediccion[0].dia[1]['prob_precipitacion'][2]._ >= 0)\n    newMsg.payload.probPrecTomorrowTill24 = Number(data.root.prediccion[0].dia[1]['prob_precipitacion'][2]._);\nif(data.root.prediccion[0].dia[1]['estado_cielo'][1]._ >= 0)\n    newMsg.payload.skyStateTomorrowTill12 = data.root.prediccion[0].dia[1]['estado_cielo'][1].$.descripcion;\nif(data.root.prediccion[0].dia[1]['estado_cielo'][2]._ >= 0)\n    newMsg.payload.skyStateTomorrowTill24 = data.root.prediccion[0].dia[1]['estado_cielo'][2].$.descripcion;\n\n\n\nreturn newMsg;\n","outputs":1,"noerr":0,"x":320,"y":1100,"wires":[["873b91ab.09985","5a7b683b.b5dc98"]]},{"id":"873b91ab.09985","type":"debug","z":"3bc7d979.1b2bc6","name":"weather info","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":330,"y":1160,"wires":[]},{"id":"5a7b683b.b5dc98","type":"onesaitplatform-insert","z":"3bc7d979.1b2bc6","name":"INSERT farm_weather","ontology":"weatherFarm_pna","authentication":"UGFibGVuczo3SEZSZ3dIYkJ5V0dBbGdSeG5qL1Q4VkRYV3hyZnNkcVhRclc0dkxCS29NPQ==","x":600,"y":1100,"wires":[["e09499ef.b6da88"]]},{"id":"e09499ef.b6da88","type":"debug","z":"3bc7d979.1b2bc6","name":"inserted weather info","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":660,"y":1160,"wires":[]},{"id":"398f219c.92017e","type":"mqtt-broker","z":"","name":"","broker":"138.100.48.251","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]