onesit_flow_json.json
[{"id":"661ab415.894a6c","type":"onesaitplatform-notification-endpoint","z":"3bc7d979.1b2bc6","name":"NOTIFY Measure INSERTION","url":"/measure","method":"post","ontology":"AnimalMeasures_jll","operationType":"INSERT","x":120,"y":420,"wires":[["4c96937b.87fd8c","bf408a50.96a558"]]},{"id":"4c96937b.87fd8c","type":"debug","z":"3bc7d979.1b2bc6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":170,"y":480,"wires":[]},{"id":"bf408a50.96a558","type":"function","z":"3bc7d979.1b2bc6","name":"Extract_data","func":"var node_data = msg.payload.notificationModel.operationModel.body;\nvar newMsg = {payload:node_data};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":390,"y":420,"wires":[["5d34dc.5ca2ab24","3e2dc7b1.b0f388"]]},{"id":"5d34dc.5ca2ab24","type":"json","z":"3bc7d979.1b2bc6","name":"Data2JSON","property":"payload","action":"obj","pretty":false,"x":530,"y":640,"wires":[["3bfa440e.e9b5cc","e36f1ab4.37beb8"]]},{"id":"e36f1ab4.37beb8","type":"function","z":"3bc7d979.1b2bc6","name":"Health_evaluator","func":"var data = msg.payload;\n\nvar animalID = data.animalID;\nvar name = data.name;\nvar type = data.type;\nvar age = data.age;\nvar bodyTemp = data.bodyTemp;\nvar steps = data.steps;\nvar weight = data.weight;\n\nvar score=0;\n\nvar string = \"animal: \"+name +\",Body Temp:\" +bodyTemp+\",Age:\"+age+ \",Steps:\"+steps +\",Weight:\" + weight +\" \";\n\nif(weight>=0)\n    score+=Math.round(33/Math.abs(weight/age-20));\n    string+=score+\",\";\n    \nif(bodyTemp>=0)\n    score+=Math.round(33/Math.abs(bodyTemp-38.5));  \n    string+=score+\",\";\n    \nif(steps>=0)\n    score+=Math.round(33/Math.abs((steps-12000)/1000));\n    string+=score+\",\";\n    \nif(score>=100) \n    score=100;\nstring+=\"Final:\"+score;\n\nvar newMsg = {payload:string};\nreturn newMsg;","outputs":1,"noerr":0,"x":750,"y":640,"wires":[["14d808a6.0008e7"]]},{"id":"14d808a6.0008e7","type":"debug","z":"3bc7d979.1b2bc6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":580,"wires":[]},{"id":"3bfa440e.e9b5cc","type":"debug","z":"3bc7d979.1b2bc6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":580,"wires":[]},{"id":"3e2dc7b1.b0f388","type":"function","z":"3bc7d979.1b2bc6","name":"Geolocation_Evaluation","func":"var data = msg.payload;\nvar newMsg = {};\nnewMsg.payload = {};\n\nvar animalLongitude = data.animalLongitude;\nvar animalLatitude = data.animalLatitude;\n\nvar centerLat = 40.413852;\nvar centerLong = -3.627799;\nvar string;\nvar a = Math.pow(animalLatitude-centerLat, 2);\nvar b = Math.pow(animalLongitude-centerLong, 2);\n\nvar distance = Math.sqrt(a+b)*100000;\nnewMsg.payload.animalID = data.animalID;\nnewMsg.payload.name = data.name;\n\n//fence radius of 500 meters\nif(distance > 500){\n    newMsg.payload.geoAlert = 1;\n    newMsg.payload.distance = distance.toFixed(2);\n    //string = distance + \"WARNING!!Cow Out of Bounds\";     \n}\nelse{\n    newMsg.payload.geoAlert = 0;\n    newMsg.payload.distance = distance.toFixed(2);\n    //string = distance + \"Cow inside Bounds\";    \n}\n//var newMsg = {payload:string};\nreturn newMsg;","outputs":1,"noerr":0,"x":670,"y":440,"wires":[["e29d793d.94f2a8","c26c9e53.2fdb1"]]},{"id":"e29d793d.94f2a8","type":"debug","z":"3bc7d979.1b2bc6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":970,"y":380,"wires":[]},{"id":"c26c9e53.2fdb1","type":"onesaitplatform-insert","z":"3bc7d979.1b2bc6","name":"GeoFencingAlert Inset","ontology":"AnimalMeasures_jll_alerts","authentication":"UGFibGVuczo3SEZSZ3dIYkJ5V0dBbGdSeG5qL1Q4VkRYV3hyZnNkcVhRclc0dkxCS29NPQ==","x":960,"y":480,"wires":[[]]}]