onesit_flow_json.json
[{"id":"3bc7d979.1b2bc6","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"ece190f3.3650c","type":"mqtt in","z":"3bc7d979.1b2bc6","name":"","topic":"smartFarming/animal","qos":"2","broker":"398f219c.92017e","x":100,"y":100,"wires":[["a3f4abdb.19e808","7a0dcdc.d127b34"]]},{"id":"a3f4abdb.19e808","type":"function","z":"3bc7d979.1b2bc6","name":"Transformation","func":"var sensorData = {};\nvar sensorAlert = {};\nvar newMsg = {};\nnewMsg.payload = {};\nvar newMsg2 = {};\nnewMsg2.payload = {};\n\nvar values;\nvar alertTemp = false;\nvar alertSteps = false;\nvar alertWeight = false;\n\nsensorData.timeStamp = new Date().toISOString();\nsensorAlert.timeStamp = new Date().toISOString();\n\nif (msg.payload) {\n\tvalues = msg.payload.split(\"&\");\n\tif (values) {\n\t\tfor (var index in values) {\n\t\t\tlet value = values[index];\n\t\t\tlet val = value.split(\"=\");\n\t\t\tif (val.length == 2) {\n\t\t\t\tswitch (val[0]) {\n\t\t\t\t\tcase 'field1':\n\t\t\t\t\t\tsensorData.animalID = val[1];\n\t\t\t\t\t\tsensorAlert.animalID = val[1];\n\t\t\t\t\t\tbreak;\n\t\t\t\t\tcase 'field2':\n\t\t\t\t\t\tsensorData.name = val[1];\n\t\t\t\t\t\tsensorAlert.name = val[1];\n\t\t\t\t\t\tbreak;\n\t\t\t\t\tcase 'field3':\n\t\t\t\t\t\tsensorData.type = val[1];\n\t\t\t\t\t\tsensorAlert.type = val[1];\n\t\t\t\t\t\tbreak;\n\t\t\t\t\tcase 'field4':\n\t\t\t\t\t\tsensorData.age = Number(val[1]);\n\t\t\t\t\t\tbreak;\n\t\t\t\t\tcase 'field5':\n\t\t\t\t\t\tsensorData.animalLatitude = Number(val[1]);\n\t\t\t\t\t\tbreak;\n\t\t\t\t\tcase 'field6':\n\t\t\t\t\t\tsensorData.animalLongitude = Number(val[1]);\n\t\t\t\t\t\tbreak;\n\t\t\t\t\tcase 'field7':\n\t\t\t\t\t\tsensorData.bodyTemp = Number(val[1]);\n\t\t\t\t\t\tbreak;\n\t\t\t\t\tcase 'field8':\n\t\t\t\t\t\tsensorData.steps = Number(val[1]);\n\t\t\t\t\t\tbreak;\n\t\t\t\t\tcase 'field9':\n\t\t\t\t\t\tsensorData.weight = Number(val[1]);\n\t\t\t\t\t\tbreak;\n\t\t\t\t\tcase 'field10':\n\t\t\t\t\t    sensorAlert.tempAlert = Number(val[1]);\n\t\t\t\t\t    switch(val[1]){\n\t\t\t\t\t        case '0':\n\t\t\t\t\t            break;\n\t\t\t\t\t        case '1':\n\t\t\t\t\t            alertTemp = true;\n\t\t\t\t\t            break;\n\t\t\t\t\t    }\n\t\t\t\t\t\tbreak;\n\t\t\t\t\tcase 'field11':\n\t\t\t\t\t\tsensorAlert.stepsAlert = Number(val[1]);\n\t\t\t\t\t\tswitch(val[1]){\n\t\t\t\t\t        case '0':\n\t\t\t\t\t            break;\n\t\t\t\t\t        case '1':\n\t\t\t\t\t            alertSteps = true;\n\t\t\t\t\t            break;\n\t\t\t\t\t    }\n\t\t\t\t\t\tbreak;\n\t\t\t\t\tcase 'field12':\n\t\t\t\t\t\tsensorAlert.weightAlert = Number(val[1]);\n\t\t\t\t\t\tswitch(val[1]){\n\t\t\t\t\t        case '0':\n\t\t\t\t\t            break;\n\t\t\t\t\t        case '1':\n\t\t\t\t\t            alertWeight = true;\n\t\t\t\t\t            break;\n\t\t\t\t\t    }\n\t\t\t\t\t\tbreak;\n\t\t\t\t}\n\t\t\t}\n\n\t\t}\n\t}\n}\nif(!alertTemp && !alertSteps && !alertWeight){\n    newMsg2.payload = sensorData;\n    newMsg2.ontology = 'AnimalMeasures_jll';\n    //Output 1\n\treturn [newMsg2, null];\n\t\n}else{\n    newMsg2.payload = sensorData;\n    newMsg2.ontology = 'AnimalMeasures_jll';\n    newMsg.payload = sensorAlert;\n    newMsg.ontology = 'AnimalMeasures_jll_alerts';\n    alertTemp = false;\n    alertSteps = false;\n    alertWeight = false;\n\t//Output 2\n\treturn [newMsg2, newMsg];\n\n}","outputs":2,"noerr":0,"x":300,"y":100,"wires":[["c0aeca14.317228","e9bce3b8.8a7a9"],["2d2db166.87a99e","dbbe6f39.4c605"]]},{"id":"c0aeca14.317228","type":"debug","z":"3bc7d979.1b2bc6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":480,"y":40,"wires":[]},{"id":"174e8e0a.9b7512","type":"debug","z":"3bc7d979.1b2bc6","name":"Inserted Data","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":800,"y":100,"wires":[]},{"id":"e34ea7b.2534858","type":"debug","z":"3bc7d979.1b2bc6","name":"Inserted Alert","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":750,"y":160,"wires":[]},{"id":"2d2db166.87a99e","type":"debug","z":"3bc7d979.1b2bc6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":220,"wires":[]},{"id":"7a0dcdc.d127b34","type":"debug","z":"3bc7d979.1b2bc6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":170,"y":220,"wires":[]},{"id":"e9bce3b8.8a7a9","type":"onesaitplatform-insert","z":"3bc7d979.1b2bc6","name":"INSERT Measurement Data","ontology":"AnimalMeasures_jll","authentication":"YXJvbmh1dTp4Vk1STkNNM21xdkJmaG9leElSZzJ6MUYxdVRkUk5iRmV4ZjcyUGNOMENVPQ==","x":560,"y":100,"wires":[["174e8e0a.9b7512"]]},{"id":"dbbe6f39.4c605","type":"onesaitplatform-insert","z":"3bc7d979.1b2bc6","name":"INSERT Alert","ontology":"AnimalMeasures_jll_alerts","authentication":"YXJvbmh1dTp4Vk1STkNNM21xdkJmaG9leElSZzJ6MUYxdVRkUk5iRmV4ZjcyUGNOMENVPQ==","x":500,"y":160,"wires":[["e34ea7b.2534858"]]},{"id":"661ab415.894a6c","type":"onesaitplatform-notification-endpoint","z":"3bc7d979.1b2bc6","name":"NOTIFY Measure INSERTION","url":"/measure","method":"post","ontology":"AnimalMeasures_jll","operationType":"INSERT","x":120,"y":420,"wires":[["4c96937b.87fd8c","bf408a50.96a558"]]},{"id":"4c96937b.87fd8c","type":"debug","z":"3bc7d979.1b2bc6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":170,"y":480,"wires":[]},{"id":"bf408a50.96a558","type":"function","z":"3bc7d979.1b2bc6","name":"Extract_data","func":"var node_data = msg.payload.notificationModel.operationModel.body;\nvar newMsg = {payload:node_data};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":390,"y":420,"wires":[["5d34dc.5ca2ab24","daf28ac9.e27f48"]]},{"id":"5d34dc.5ca2ab24","type":"json","z":"3bc7d979.1b2bc6","name":"Data2JSON","property":"payload","action":"obj","pretty":false,"x":530,"y":640,"wires":[["3bfa440e.e9b5cc","e36f1ab4.37beb8","3e2dc7b1.b0f388"]]},{"id":"e36f1ab4.37beb8","type":"function","z":"3bc7d979.1b2bc6","name":"Health_evaluator","func":"var data = msg.payload;\n\nvar animalID = data.animalID;\nvar name = data.name;\nvar type = data.type;\nvar age = data.age;\nvar bodyTemp = data.bodyTemp;\nvar steps = data.steps;\nvar weight = data.weight;\n\nvar score=0;\n\nvar string = \"animal: \"+name +\",Body Temp:\" +bodyTemp+\",Age:\"+age+ \",Steps:\"+steps +\",Weight:\" + weight +\" \";\n\nif(weight>=0)\n    score+=Math.round(33/Math.abs(weight/age-20));\n    string+=score+\",\";\n    \nif(bodyTemp>=0)\n    score+=Math.round(33/Math.abs(bodyTemp-38.5));  \n    string+=score+\",\";\n    \nif(steps>=0)\n    score+=Math.round(33/Math.abs((steps-12000)/1000));\n    string+=score+\",\";\n    \nif(score>=100) \n    score=100;\nstring+=\"Final:\"+score;\n\nvar newMsg = {payload:string};\nreturn newMsg;","outputs":1,"noerr":0,"x":750,"y":640,"wires":[["14d808a6.0008e7"]]},{"id":"14d808a6.0008e7","type":"debug","z":"3bc7d979.1b2bc6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":580,"wires":[]},{"id":"3bfa440e.e9b5cc","type":"debug","z":"3bc7d979.1b2bc6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":580,"wires":[]},{"id":"3e2dc7b1.b0f388","type":"function","z":"3bc7d979.1b2bc6","name":"Geolocation_Evaluation","func":"var data = msg.payload;\n\nvar geoData={};\n\nvar animalLongitude = data.animalLongitude;\nvar animalLatitude = data.animalLatitude;\n\nvar centerLat = 40.413852;\nvar centerLong = -3.627799;\n\nvar a = Math.pow(animalLatitude-centerLat, 2);\nvar b = Math.pow(animalLongitude-centerLong, 2);\n\nvar distance = Math.sqrt(a+b)*100000;\ngeoData.timeStamp = new Date().toISOString();\ngeoData.animalID = data.animalID;\ngeoData.name = data.name;\n\n//fence radius of 500 meters\nif(distance > 500){\n    geoData.geoAlert = 1;\n    geoData.distance = Number(distance.toFixed(2));\n    //string = distance + \"WARNING!!Cow Out of Bounds\";     \n}\nelse if (distance < 500){\n    geoData.geoAlert = 0;\n    geoData.distance = Number(distance.toFixed(2));\n    //string = distance + \"Cow inside Bounds\";    \n}\n\nvar newMsg = {payload:geoData};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":670,"y":440,"wires":[["e29d793d.94f2a8","c26c9e53.2fdb1"]]},{"id":"e29d793d.94f2a8","type":"debug","z":"3bc7d979.1b2bc6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":970,"y":380,"wires":[]},{"id":"c26c9e53.2fdb1","type":"onesaitplatform-insert","z":"3bc7d979.1b2bc6","name":"GeoFencingAlert Insert","ontology":"AnimalMeasures_jll_GeoWeatheralerts","authentication":"UGFibGVuczo3SEZSZ3dIYkJ5V0dBbGdSeG5qL1Q4VkRYV3hyZnNkcVhRclc0dkxCS29NPQ==","x":970,"y":480,"wires":[["9012aac.0003658"]]},{"id":"9012aac.0003658","type":"debug","z":"3bc7d979.1b2bc6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1030,"y":540,"wires":[]},{"id":"daf28ac9.e27f48","type":"debug","z":"3bc7d979.1b2bc6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":530,"y":360,"wires":[]},{"id":"398f219c.92017e","type":"mqtt-broker","z":"","name":"","broker":"138.100.48.251","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]